$white: #ffffff;
$black: #000000;
$backgroundGrey: #fcfaf2;
$grey: #947a6d;
$lightBlue: #78c2c4;
$blue: #0b346e;
$lakeBlue: #006284;
$tomato: #e83015;
$lightRed: #cb4042;
$red: #ab3b3a;
$yellow: #ffb11b;
$mustard: #dda52d;
$lightGreen: #bec23f;
$green: #838a2d;
$olive: #5b622e;
