$white: #ffffff;
$whiteTransparent: rgba(255, 255, 255, 0.7);
$black: #000000;
$backgroundGrey: #fcfaf2;
$grey: #947a6d;
$pastelBlue: #ebf5fb;
$lightBlue: #78c2c4;
$blue: #0b346e;
$lakeBlue: #006284;
$lightPinkGrey: #eee2dc;
$tomato: #e83015;
$lightRed: #cb4042;
$red: #ab3b3a;
$yellow: #ffb11b;
$mustard: #dda52d;
$lightGreen: #bec23f;
$lightGreenTransparent: rgba(190, 194, 63, 0.85);
$green: #838a2d;
$olive: #5b622e;
