@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap&subset=japanese,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,400&display=swap&subset=japanese');
@import './_colors.scss';
@import './_flex.scss';

$midBreak: 1120px;
$mobile: 768px;
$smallMobile: 480px;

@mixin transitionCubic {
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin scale($v) {
  transform: scale($v);
  -webkit-transform: scale($v);
  -moz-transform: scale($v);
  -ms-transform: scale($v);
  -o-transform: scale($v);
  transform-origin: center center;
}
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sawarabi Mincho', sans-serif;
  letter-spacing: 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.3;
  min-width: 300px;
  background: $backgroundGrey;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  border-style: none;
}

:focus {
  outline: none;
}
.center {
  text-align: center;
}
a {
  color: $tomato;
}
h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

.app-main {
  padding: 0 20px;
  width: 100%;
}
.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}
.paper {
  height: 100% !important;
}
.grid-content {
  width: 100%;

  &--title {
    font-size: 1.2em;
  }

  &--image {
    width: 100%;
    height: 0;
    padding-top: 60%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &--detail {
    padding: 0px 5px;
  }
  &--address {
    font-size: 0.9em;
    letter-spacing: 0.2em;
  }
}
.MuiPaper-rounded {
  overflow: hidden;
}
